textarea {
  width: 90%;
  height: 200px;
  margin-top: 10px;
}

input {
  width: 90%;
  padding: 8px;
}

.card {
  background: var(--card);
  margin: 10px auto;
  padding: 10px;
  width: 90%;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.2s;
}

.card:hover {
  transform: scale(1.02);
}